<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>417444213662-0u3kbtjhatbo444d351noine8q10d3nc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.417444213662-0u3kbtjhatbo444d351noine8q10d3nc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>417444213662-4um1pschp1q2dbtt68kmltj49g5bkmjj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAJVPkUD--VXENYZmuxM5WuedO6QbaU6ak</string>
	<key>GCM_SENDER_ID</key>
	<string>417444213662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mayur.smartphones</string>
	<key>PROJECT_ID</key>
	<string>phonedata-e4a81</string>
	<key>STORAGE_BUCKET</key>
	<string>phonedata-e4a81.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:417444213662:ios:ef0397b33c5fa5332bdc8f</string>
	<key>DATABASE_URL</key>
	<string>https://phonedata-e4a81-default-rtdb.firebaseio.com</string>
</dict>
</plist>